<header class="header">
  <a class="nav-icon" href="javascript:void(0)">
  </a>
  <div class="brand">
    <!-- <img src="assets/images/logo.png" width="137px" /> -->
    <h2>Reassignment Tool</h2> 
  </div>
  <!-- <div class="head-right">
    <ul class="right-list">
      <li class="user-welcome dropdown">
        <a href="javascript:void(0)" class="" id="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>Welcome <b>{{ _appConstant.userDisplayName }}</b></span><i class="fa fa-user-o"></i>
          <i class="fa fa-angle-down" style="margin-left: 15px;"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="user">
          <a class="dropdown-item" (click)="logout()">
            Logout
          </a>
        </div>
      </li>
    </ul>
  </div> -->
  <!--EOF Header-->
</header>