<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]='["/users"]'>Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Roles</li>
    </ol>
  </nav>
  <div class="top-title-bar">
    <h2 class="page-title">Roles</h2>
    <div class="filter-role">
      <a href="#" [routerLink]='["/roles/create"]' class="btn btn-defult site-btn">
        <i class="fa fa-plus"></i> Role
      </a>
    </div>
  </div>
  <div class="white-box">
    <div class="table-responsive" style="width:100%">
      <div class="mat-elevation-z8">
        <kendo-grid  [kendoGridBinding]="roleList" [filterable]="true" [pageSize]="state.take" [skip]="state.skip"
        [sortable]="true" [columnMenu]="false" [sort]="state.sort" (dataStateChange)="dataStateChange($event)"
        [pageable]="true">
          <kendo-grid-messages noRecords="{{_appConstant.noRecordsMessage}}">
          </kendo-grid-messages>
          <kendo-grid-column field="roleName" title="Role Name" width="36%">
          </kendo-grid-column>
          <kendo-grid-column field="description" title="Description" width="40%">
          </kendo-grid-column>
          <kendo-grid-column field="isActive" title="Status" width="10%" filter="boolean">
            <ng-template kendoGridFilterCellTemplate let-filter>
              <div>
                <kendo-dropdownlist [data]="_appConstant.listItems" textField="text" valueField="value" class="custom-dropdown"
                  [(ngModel)]="_appConstant.selectedValue" [valuePrimitive]="true" (selectionChange)="activeInactiveFilterChange($event)">
                </kendo-dropdownlist>
              </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="btn-style">
                <input type="button" class="{{dataItem.isActive == true ? 'btn btn-default btnStatus btn-active' : 'btn btn-default btnStatus btn-inactive'}}"
                  value="{{dataItem.isActive == true ? 'Active' : 'Inactive'}}" (click)="activeInactiveRole(dataItem)">
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-command-column title="Actions" width="10%">
            <ng-template kendoGridCellTemplate kendoTooltip let-dataItem>
              <li kendoGridEditCommand title="Edit Role" (click)="editRole(dataItem.roleId)" class="pencil"><i class="fa fa-pencil"
                  aria-hidden="true"></i></li>
              <!-- <li kendoGridRemoveCommand title="Delete Role" (click)="deleteRole(dataItem.roleId)" class="trash"><i
                  class="fa fa-trash" aria-hidden="true"></i></li> -->
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>